/* Add logo at the top of the page */
body::before {
  content: "";
  display: block;
  background-image: url("/mathpeat/mathpeat.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top;
  height: 200px;           /* Adjust height as needed */
  margin-bottom: 0rem;    /* Space between logo and page header */
}

/* Optional: hide GitHub button */
.github-button {
  display: none;
}

/* Hide the "View on GitHub" button */
.page-header .btn {
  display: none !important;
}

.site-footer {
  text-align: center;
  padding: 1em;
  font-size: 0.95em;
  background-color: #f8f8f8;
  color: #333;
}


.site-nav a {
  color: white;
  text-decoration: none;
  margin: 0 0.5em;
  font-weight: bold;
}
.site-nav a:hover {
  text-decoration: underline;
}